/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100vh;
  width: 100vw;
  background: #031627;
}

body{
  display: flex;
  flex-direction: column;
}

header, footer{
  width: 100vw;
  height: auto;
  color: #000;
}

a{
  color: #000;
  text-decoration: none;
  text-align: center;
}

h1{
  color: #fff;
  font-size: 3rem;
  font-weight: 800;
  margin: .5em;
  text-align: center;
  font-family: 'Poiret One', cursive;
}

@media screen and (max-width: 350px){
  #home-container{
    width: 80%;
    overflow: hidden;
  }
}


/* index.html styling */
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#home-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: flex-start;
  border: 2px solid #fff;
  height: 40vh;
  background-color: #031321;
  -webkit-box-shadow: 0px 0px 200px 0 rgba(255, 255, 255, 0.2), 
  0 0px 20px 0 rgba(0, 0, 0, 0.19);
}

.animate-tag{
  font-family: 'Poiret One', cursive;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 2em;
  overflow: hidden;
  text-decoration: none;
  transition: 0.2s;
  padding: 5% 0;
  width: 50%;
  margin: 10px auto;
  text-align: center;
}

.animate-tag:hover{
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0 0 10px #041e33, 0 0 40px #0c4d83,
  0 0 100px #3696e6;
}





/* game styling */
header{
  margin: 0;
  display: block;
  width: auto;
  background: #031321;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -webkit-box-shadow: 0 10px 50px -6px rgb(255, 255, 255);
  padding-bottom: .8em;

}

li{
  text-decoration: none;
  list-style: none;
  width: 20%;
}

.float:hover{
  -webkit-box-shadow: 0 8px 8px -6px rgb(255, 255, 255);
}

.navigation-links{
  display: flex;
  justify-content: flex-end;
}

.navigation-links > a{
  color: #fff;
  font-size: 1.3rem;
  margin: auto 2em;
}

h3{
  font-size: 40px;
  margin: auto 5%;
  color: #fff;
  font-family: 'Poiret One', cursive;
}

h2{
  color: #fff;
  font-size: 150%;
  font-family: 'Poiret One', cursive;
}

.score, .average, .question{
  font-size: 250%;
  color: #fff;
  padding: 3%;
  text-align: center;
  font-family: 'Poiret One', cursive;
}

.answer-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  height: 250px;
}

.answer-btn{
  color: #fff;
  font-family: 'Poiret One', cursive;
  font-size: 150%;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
  text-align: center;
}

#home-styling{
  padding: 0 5%;
  text-align: center;
  justify-content: center;
}

#score-board-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 800px;
  align-content: center;
}

#game-container{
  display: flex;
  flex-direction: column;
  width: 50%;
}

#question {
  text-align: center;
  font-size: 250%;
  font-weight: 800;
  margin: 5% 0;
}

@media screen and (max-width: 1080){
    body{
      height: 100vh;
      width: auto;
    }
    html{
      height: 100vh;
      width: auto;
      background: white;
    }
    h3{
      font-size: 2em;
    }
    /* a.navigation-links{
      display: flex;
      flex-direction: row;
    } */
}



