/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100vh;
  width: 100%;
  background: #031627;
}

body{
  display: flex;
  flex-direction: column;
}

header, footer{
  width: 100%;
  height: auto;
  background: #fff;
  color: #000;
}

h1{
  font-family: 'Poiret One', cursive;
}

a{
  color: #000;
  text-decoration: none;
  text-align: center;
}





/* index.html styling */
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#home-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: flex-start;
  border: 3px solid #fff;
  height: 40%;
  background-color: #031321;
  box-shadow: 0px 0px 200px 0 rgba(255, 255, 255, 0.2), 
  0 0px 20px 0 rgba(0, 0, 0, 0.19);
}

#animate-tag{
  font-family: 'Poiret One', cursive;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 2em;
  overflow: hidden;
  text-decoration: none;
  transition: 0.2s;
  padding: 5% 0;
  width: 50%;
  margin: 10px auto;
  text-align: center;
}

#animate-tag:hover{
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #041e33, 0 0 40px #0c4d83,
  0 0 80px #3696e6;
}





/* game styling */
header{
  display: block;
  padding: 1%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  border: 1px solid #fff;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

li{
  text-decoration: none;
  list-style: none;
  text-align: center;
  padding: 0 10%;
}

div > h1{
  color: #fff;
  font-size: 300%;
  font-weight: 800;
  margin: 15px 3%;
  text-align: center;
}

.navigation-links {
  display: flex;
  flex-wrap: wrap;
}

h2{
  color: #fff;
  font-size: 150%;
  font-family: 'Poiret One', cursive;
}

.score, .average, .question{
  font-size: 250%;
  color: #fff;
}

.answer-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  height: 300px;
}

.answer-btn{
  color: #fff;
  font-family: 'Poiret One', cursive;
  font-size: 150%;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
  text-align: center;
}

#score-board-container{
  /* display: none; */
  flex-direction: column;
  justify-content: space-between;
}

#game-container{
  display: flex;
  flex-direction: column;
  width: 50%;
}

#question {
  text-align: center;
  font-size: 250%;
  font-weight: 800;
  margin: 10% 0;
}






