/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px black solid; */
}

html, body{
  height: 100vh;
  width: 100%;
  background: #031627;
}

body{
  display: flex;
  flex-direction: column;
}

header, footer{
  width: 100%;
  height: auto;
  background: #fff;
  display: flex;
  color: #000;
}

a{
  text-decoration: none;
  color: #000;
}

#logo-image{
  width: 10%;
  height: auto;
  object-fit: cover;
  padding: 0;
  margin: 0;
}

/* index.html styling */
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  border: 10px solid #fff;
  height: 40%;
  background-color: #031321;
}

div > h1{
  color: #fff;
  font-size: 300%;
  font-weight: 800;
  margin: 10px;
}

#animate-tag{
  color: #16578b;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 2em;
  overflow: hidden;
  text-decoration: none;
  transition: 0.2s;
  padding: 5%;
  width: 50%;
  margin: 5px auto;
  text-align: center;
}

#animate-tag:hover{
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}

.footer-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* game styling */
h2{
  color: #fff;
  font-size: 100%;
}

button{
  /* margin: 20%; */
}

#game-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
}

.score-box, .time-box{
color: #fff;
}

.answer{
  /* color: #fff; */
  text-align: center;
  /* display: none; */
}

#question {
  text-align: center;
}
